trigger:
  branches:
    include:
    - master

variables:
  imageName: 'tiledb/tiledb-mariadb'

jobs:
- job:
  strategy:
    matrix:
      linux:
        imageName: 'ubuntu-16.04'
        CXX: g++
      macOS:
        imageName: 'macOS-10.14'
        CXX: clang++

  pool:
    vmImage: $(imageName)
  steps:
  - template: scripts/azure-linux_mac.yml
