!include include/default_my.cnf

[server]
plugin-maturity=experimental
plugin-load-add=ha_mytile
# Enable embedded mytile
plugin-mytile=ON
#default-storage-engine=MyTile


sql-mode=NO_ENGINE_SUBSTITUTION
explicit-defaults-for-timestamp=1

# The following is to get rid of the harmless
# "Deadlock found when trying to get lock" errors, see MDEV-12285.
log-warnings=1
