name: nightly
on:
  push:
    paths:
      - '.github/workflows/nightly.yaml'
      - 'scripts/nightly/**'
  schedule:
    - cron: "0 2 * * *" # Every night at 2 AM UTC (9 PM EST; 10 PM EDT)
  workflow_dispatch:
jobs:
  build:
    runs-on: ${{ matrix.os }}
    name: nightly-${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["macos-12", "ubuntu-20.04"]
    env:
      OWNER_TILEDB_MARIADB: ${{ github.repository_owner }} # support building from a fork
      REF_MARIADB: mariadb-10.5.13
      REF_LIBTILEDB: dev
      REF_TILEDB_MARIADB: ${{ github.sha }}
      TILEDB_FORCE_ALL_DEPS: OFF
    steps:
      # This initial checkout is only to obtain the CI scripts
      - uses: actions/checkout@v3
      - name: Clone and checkout repos
        run: bash scripts/nightly/checkout.sh
      - name: Setup Ubuntu
        if: runner.os == 'Linux'
        run: sudo bash scripts/nightly/setup-ubuntu.sh
      - name: Setup macOS
        if: runner.os == 'macOS'
        run: bash scripts/nightly/setup-macos.sh
      - name: Build libtiledb
        run: bash scripts/nightly/build-libtiledb.sh
      - name: Build TileDB-MariaDB
        run: bash scripts/nightly/build-tiledb-mariadb.sh
  issue:
    permissions:
      issues: write
    runs-on: ubuntu-latest
    needs: build
    if: failure() || cancelled()
    steps:
      - uses: actions/checkout@v3
      - name: Open Issue
        env:
          GH_TOKEN: ${{ github.token }}
          TZ: "America/New_York"
        run: |
          gh issue create \
            --assignee Shelnutt2,ihnorton,jdblischak \
            --body "Nightly build failed in run [$GITHUB_RUN_ID]($GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID)" \
            --label "bug" \
            --title "Nightly build failed on $(date '+%A (%Y-%m-%d)')"
